[Unit]
Description="Run afnow_roaacc.service every 2 minutes relative to activation time"

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=afnow_roaacc.service

[Install]
WantedBy=timers.target
