[Unit]
Description="Process 6k soil mositure data for Nowcasting portal"

[Service]
ExecStart=/home/stewells/AfricaNowcasting/rt_code/afnow_sm6k.sh
StandardOutput=file:/home/stewells/AfricaNowcasting/logs/afnow_sm6k.output
StandardError=file:/home/stewells/AfricaNowcasting/logs/afnow_sm6k.error
Type=oneshot
